
.create {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	padding: 15px;
	margin-bottom: 20px;
}

.title{
	font-size: 20px;
	margin-bottom: 15px;
}

.textarea {
	resize: none;
	background-color: #ddd;
	padding: 10px;
	border-radius: 10px;
}

.textarea:focus {
	outline: none;
}

.buttons {
	padding: 0 5px;
	margin-top: 15px;
	align-self: flex-end;
	display: flex;
	color: #fff;
}

.btn {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 5px 15px;
	border-radius: 10px;
	background-color: #2f80ed;
}

.btn:hover{

	background-color: #4e93ee;
}

.textBtn{
	position: relative;
	top: -1px
}
