.data {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.avatarBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}

.info {
	font-size: 18px;
}

.name {
	font-size: 25px;
	margin-bottom: 10px;
}

.birthday {
	font-size: 18px;
	margin-bottom: 5px;
}

.city {
	font-size: 16px;
}

.btnLoad {
	visibility: hidden;
	display: none;
}

.loadForm {
	height: 40px;
	border-radius: 10px;
	color: #fff;
}

.labelForLoad {
	padding: 10px 5px;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	background-color: #2f80ed;
}

.labelForLoad:hover {
	background-color: #649fed;
}

.statusProfile {
	margin-bottom: 10px;
}

.contacts div {
	margin-left: 10px;
}

.contactsForm {
	margin-bottom: 5px;
	margin-left: 5px;
}

.profileButtons {
	text-align: center;
}

.changeProfile button {
	padding: 10px 5px;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	background-color: #2f80ed;
	color: #fff;
}

.changeProfile button:hover {
	background-color: #649fed;
}