.dialogs {
	display: grid;
	grid-template-columns: 3fr 9fr;
	padding: 15px;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	border-radius: 20px;
}

.allDialogs{
	background-color: #fff;
	border-radius: 20px;
	margin-right: 15px;
	padding: 15px;
}

.dialog{
	margin-bottom: 10px;
}

.allMessages{
	display: flex;
	flex-direction: column;
	border: 3px solid #fff;
	border-radius: 15px;
	padding: 15px;
	justify-content: space-between;
}
.sendMessage{

}

