
.menu-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	background-color: #f5f6fa;
	border-radius: 20px;
	border: 1px solid #ddd;
	color: #949bb3;
}

.menu-item {
	width: 160px;
	text-align: center;
}
.menu__link{
	width: 100%;
	padding: 15px 0;
	display: inline-block;
	border-radius: 20px;
}

.menu__link:hover{
	background-color: #2f80ed;
	color: #fff;
}
